<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="signin-background">
    <div class="background">
        <div class="form-container">
            <h2>Welcome</h2>
            <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}" style="color: red;font-size: 20px;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('main.submit') }}">
        <label for="table_number">Table Number:</label>
        <input type="text" id="table_number" name="table_number" autocomplete="off" required>
        <button type="submit">Submit</button>
    </form>
        </div>
    </div>
</body>
</html>
